/* From uiverse.io by @alexruix */
.box {
    margin: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SearchBar {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
   }
   
.InputName {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding-left: 4rem;
    border: 2px solid #2B2D42;
    border-radius: 8px;
    outline: none;
    background-color:#EDF2F4;
    color: black;
    transition: .3s ease;
   }
   
.InputName::placeholder {
    color: black;
   }
   
.InputName:focus, .InputName:hover {
    outline: none;
    border-color: #EDF2F4;
    background-color: #EF233C;
    box-shadow: 0 0 0 4px rgba(234, 76, 76, 0.1);
   }
   
.SearchButton {
    position: absolute;
    left: 0.5rem;
    fill: #9e9ea7;
    border-radius: 15px;
    background-image:linear-gradient(-45deg, #EF233C, #EDF2F4);
    padding: 2%;
    width: fit-content;
    height: fit-content;
    border: #2B2D42
}
   
.em{
    color: black;
}
   
   
   
   