.Details{
    display: flex;
    align-content: center;
    justify-content: center;
}
.content {
    padding: 2rem;
    border-radius: 30px;
    background: #e0e0e0b6;
    box-shadow: 15px 15px 30px #3c3c3cbb, -15px -15px 30px #3c3c3cbb;
    width: fit-content;
}
.content img{
    width: 180px;
    height: 180px;
}
.wrapper{
    margin-top: 1rem;
    width: 320px;    
}
.box{
    display: flex;
    flex-wrap: wrap;
    margin:-10px;
}
.box>* {
    flex: 1 1 120px;
    margin: 10px;
}
.stats{
    border-bottom: solid black;
    border-top: ridge;
    border-radius: 10px;
    color: whitesmoke;
    background-color: rgb(65, 72, 193);
    padding: 0px 2px 1px 2px;
}
.content h4{
    margin-bottom: 0.5rem;
    border: none;
    color: whitesmoke;
    border-radius: 10px;
    width: fit-content;
    position: relative;
    left: 50%;
    padding: 1px 4px 4px 4px;
    background-color: rgba(40, 37, 246, 0.671);
    transform: translate(-50%);
}
.types{
    display: flex;
    justify-content: center;
}
.type{
    margin-left: 10px;
    margin-right: 10px;
    color: whitesmoke;
    border: solid black 1px;
    padding: 5px;
    padding-top: 1px;
    border-radius: 10px;
    background-color: rgba(40, 37, 246, 0.671);
}