.header{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    margin: 1rem;
    z-index: 100;
    height: fit-content;
    align-items: center;
}

.header img {
    height: 4rem;
    filter: drop-shadow(0 0 8px white);
}

.create {
    width: fit-content;
    padding: 2px;
    background-color: whitesmoke;
    border: black solid 1px;
    border-radius: 20px;
    color: black;
}

.create Link{
    text-decoration: none;
}

.create:hover{
    color: aliceblue;
    background-color: gray;
}

